
<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th {{action "toggleSort" "id"}}>
        Inspection ID {{sort-icon "id" sorting.firstObject}}
      </th>

      <th {{action "toggleSort" "name"}}>
        Name {{sort-icon "name" sorting.firstObject}}
      </th>

      <th {{action "toggleSort" "license"}}>
        License # {{sort-icon "license" sorting.firstObject}}
      </th>

      <th {{action "toggleSort" "facilityType"}}>
        Facility Type {{sort-icon "facilityType" sorting.firstObject}}
      </th>

      <th {{action "toggleSort" "risk" "desc"}}>
        Risk {{sort-icon "risk" sorting.firstObject}}
      </th>

      <th {{action "toggleSort" "address"}}>
        Address {{sort-icon "address" sorting.firstObject}}
      </th>

      <th {{action "toggleSort" "date" "desc"}}>
        Inspection Date {{sort-icon "date" sorting.firstObject}}
      </th>
    </tr>
  </thead>

  <tbody>
  {{#each displayItems as |item|}}
  <tr>
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.license}}</td>
    <td>{{item.facilityType}}</td>
    <td>{{item.risk}}</td>
    <td>
      <address>
      {{item.address}}<br />
      {{item.city}},
      {{item.state}}<br />
      {{item.zip}}
      </address>
    </td>
    <td>{{moment-from-now item.date}}</td>
  </tr>
  {{/each}}
  </tbody>
</table>

